# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_VERSION=v1

# App Configuration
NEXT_PUBLIC_APP_NAME=Merchants Community Chatbot
NEXT_PUBLIC_MAX_MESSAGE_LENGTH=2000
